extends layouts/main
include mixins/search_worship
include mixins/search_life
include mixins/search_story

block content
    .search#jsSearch
        .search__bar
            form(action=routes.search, method="get")
                input(type="text",name="term", value=term)
                button.btn-submit(type="submit")
                    img(src="icon-img/search_copy.png")
        .search__message
            span "#{term}" 검색 결과가 총 #[strong #{ worships.length+lives.length+stories.length }건] 있습니다.
        .search__nav#jsSearchNav
            ul
                li.searchAll.jsSearchLI 전체 (#{ worships.length+lives.length+stories.length })
                li.searchWorship.jsSearchLI 예배 (#{ worships.length })
                li.searchLife.jsSearchLI 교회생활 (#{ lives.length })
                li.searchStory.jsSearchLI 벧엘스토리 (#{ stories.length })
        .search__all#jsSearchAll
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in worships
                        +search_worship({
                            title: item.title,
                            content: item.content
                        })
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in lives
                        +search_life({
                            title: item.title,
                            content: item.content
                        })
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in stories
                        +search_story({
                            title: item.title,
                            content: item.content
                        })
        .search__worship#jsSearchWorship
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in worships
                        +search_worship({
                            title: item.title,
                            content: item.content
                        })
        .search__life#jsSearchLife
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in lives
                        +search_life({
                            title: item.title,
                            content: item.content
                        })
        .search__story#jsSearchStory
            .search__all-listForm.listForm
                .listForm__attribute
                    span 번호
                    span 제목
                    span 등록일
                ul
                    each item in stories
                        +search_story({
                            title: item.title,
                            content: item.content
                        })